TicketTask.xcworkspace/xcuserdata/reijimatsumura.xcuserdatad/UserInterfaceState.xcuserstate
TicketTask.xcworkspace/xcuserdata/reijimatsumura.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist
TicketTask.xcworkspace/xcuserdata/reijimatsumura.xcuserdatad/UserInterfaceState.xcuserstate~Stashed changes
TicketTask.xcworkspace/xcuserdata/reijimatsumura.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist~Stashed changes
TicketTask/.DS_Store
TicketTask.xcworkspace/xcuserdata/reijimatsumura.xcuserdatad/WorkspaceSettings.xcsettings
TicketTask.xcworkspace/xcuserdata/reijimatsumura.xcuserdatad/UserInterfaceState.xcuserstate
TicketTask.xcworkspace/xcshareddata/WorkspaceSettings.xcsettings
TicketTask.xcworkspace/xcuserdata/reijimatsumura.xcuserdatad/WorkspaceSettings.xcsettings
