<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>298048067716-jq8gbpeg4q86qk3fj2fg8dlk2pc319o5.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.298048067716-jq8gbpeg4q86qk3fj2fg8dlk2pc319o5</string>
	<key>API_KEY</key>
	<string>AIzaSyBmlmmEX3eiOCOjur3iLIins6r_0zGsGY8</string>
	<key>GCM_SENDER_ID</key>
	<string>298048067716</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>reiji.TicketTask</string>
	<key>PROJECT_ID</key>
	<string>tickettask-dev</string>
	<key>STORAGE_BUCKET</key>
	<string>tickettask-dev.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:298048067716:ios:9d69eae5a3f1760de58ad1</string>
	<key>DATABASE_URL</key>
	<string>https://tickettask-dev.firebaseio.com</string>
</dict>
</plist>