<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>372032033592-eegvgn3r5mcn1r0guv82v7igdpobld99.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.372032033592-eegvgn3r5mcn1r0guv82v7igdpobld99</string>
	<key>API_KEY</key>
	<string>AIzaSyBjozCuP7818BfVJIl7MsuNk0k6Xf5aEbY</string>
	<key>GCM_SENDER_ID</key>
	<string>372032033592</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>reiji.TicketTask</string>
	<key>PROJECT_ID</key>
	<string>tickettask-bd2b2</string>
	<key>STORAGE_BUCKET</key>
	<string>tickettask-bd2b2.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:372032033592:ios:2547f687c2b3d2ba27a7cd</string>
	<key>DATABASE_URL</key>
	<string>https://tickettask-bd2b2.firebaseio.com</string>
</dict>
</plist>